doctype html
html(lang='us-en')
  head
    title Campus Manager: Feedback
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1')
    if env == 'production'
      link(rel='stylesheet', href='{{cache-break:css/app.css}}')
    else
      link(rel='stylesheet', href='/css/app.css')
  body
    .container
      form(action=form_url, method='POST', target='_self', onsubmit='')
        h4 Have some feedback? Spotted a bug? Maybe a feature idea! Let us know!
        .row
          .form-group.col-xs-12
            label(for='name') Name
            input#name.form-control(type='text', name='entry_1635986456', value=user.name, dir='auto', aria-label='Name', title='name', placeholder='Name', required)
          .form-group.col-xs-12
            label(for='email') Email
            input#emal.form-control(type='email', name='entry.1147586333', value=user.username, dir='auto', aria-label='Email', title='email', placeholder='Email', required)
          .form-group.col-xs-12
            label(for='phone') Phone (555-555-5555)
            input#phone.form-control(type='text', name='entry.677431156', value=user.phone, dir='auto', aria-label='Phone', title='phone', placeholder='Phone', pattern='\\d{3}[\\-]\\d{3}[\\-]\\d{4}')
          .form-group.col-xs-12
            label(for='course') Current Course / Location / Class Days
            input#course.form-control(type='text', name='entry.2100705449', value='', dir='auto', aria-label='Current Course / Location / Class Days', title='course details', placeholder='Current Course / Location / Class Days', required)
          .form-group.col-xs-12
            label(for='feedback') Feedback
            textarea#feedback.form-control(name='entry.1349808760', rows='8', dir='auto', aria-label='Feedback', placeholder='Feedback')
            input(type='hidden', name='draftResponse', value='[,,"5995000998175107185"]')
            input(type='hidden', name='pageHistory', value='0')
            input(type='hidden', name='fbzx', value='5995000998175107185')
            br
            button.btn.btn-primary.btn-block(type='submit') Submit
